<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8">
<title>无标题文档</title>
</head>

<body>

	<!-- 		第三步：在html中加入xmlns
	<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
	第四步：在相应的标记那里添加shiro
	<li><a shiro:hasPermission="sys:user:user" data-href="admin_list.html" data-title="用户管理" href="javascript:void(0)">用户管理</a></li>
	<li><a shiro:hasPermission="sys:role:role" data-href="admin_role.html" data-title="角色管理" href="javascript:void(0)">角色管理</a></li> -->

		<!-- 	<a shiro:hasPermission="user:add"
				data-href="/user/add" data-title="用户添加"
				href="/user/add">用户添加</a>-->
			<!-- <a shiro:hasPermission="user:update"
				data-href="/user/update" data-title="用户更改"
				href="/user/update">用户更改</a>  -->
哈哈哈哈哈哈哈

		<!-- 	<a shiro:hasRoles="lhy,admin"
				data-href="/user/add" data-title="用户添加"
				href="/user/add">用户添加</a> -->
			<a shiro:hasRole="${role}"
				data-href="/user/add" data-title="用户添加"
				href="/user/add">用户添加</a>
			<a shiro:hasRole="lhy"
				data-href="/user/update" data-title="用户更改"
				href="/user/update">用户更改</a>
				
			<a shiro:hasRole="${role}"
				data-href="/user/update" data-title="用户更改"
				href="/user/update">用户更改</a>
			<a shiro:hasRole="${role}"
				data-href="/user/update" data-title="用户更改"
				href="/user/update">用户更改</a>
			<a shiro:hasRole="${role}"
				data-href="/user/update" data-title="用户更改"
				href="/user/update">用户更改</a>
			<!-- <li><a shiro:hasRole="admin"
				data-href="/user/update" data-title="用户更改"
				href="/user/update">用户更改</a></li> -->
</body>
</html>