<!DOCTYPE html>
<html>
<head>
<meta />
<title></title>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">

<script type="text/javascript"
	src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script type="text/javascript" th:inline="javascript">
	$(function() {
		var name = $(".typename").val();
		//alert(name);
		//alert($("#advertise option:eq(0)").val().indexOf(name));
		//alert($("#advertise option:last").index());
		var i = 0;
		for (i = 0; i <= $("#advertise option:last").index(); i++) {
			if ($("#advertise option:eq(" + i + ")").val().indexOf(name) > -1) {
				$("#advertise option:eq(" + i + ")").attr("selected", true);
			}
		}
		$("#sure").click(function() {
			var addr = advertise.value;
			//alert(addr);
			//var h=$("#advertise").val();
			//alert(h);
			var newUrl = '/' + addr; //设置新提交地址
			//alert(newUrl);
			$("#publish").attr('action', newUrl); //通过jquery为action属性赋值
			$("#publish").submit(); //提交ID为myform的表单
		});

	})
</script>

</head>
<body>
	<form action="" method="post" id="publish"
		enctype="multipart/form-data">

		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-8">
				<div class="col-md-8">
					<div class="col-sm-12 text-center">
						<h3>修改广告发布</h3>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">发布类型：</label>
						<div class="col-sm-9">
							<select class="form-control" id="advertise">
								<option th:each="type,userStat:${session.typelist}"
									th:value="${type.controllerPath}+'/modify?type='+${type.id}"
									th:text="${type.typeName}"></option>
							</select>
						</div>
					</div>
					<div>
						<input type="hidden" class="typename" th:value="${name}">
					</div>
					<div>
						<input type="hidden" name="id" th:value="${advmode.id}">
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">链接：</label>
						<div class="col-sm-9">
							<input type="text" name="url" class="form-control" th:value="${advmode.url}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">图片地址：</label>
						<div class="col-sm-9">
							<input type="text" name="imgSrc" class="form-control" th:value="${advmode.imgSrc}"
								readonly />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">广告图片展示：</label>
						<div class="col-sm-9">
							<img th:src="@{${advmode.imgSrc}}"
								style="width: 200px; height: 200px;">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">更新广告图片：</label>
						<div class="col-sm-9">
							<input type="file" class="form-control" name="picsfile">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">图片备注信息：</label>
						<div class="col-sm-9">
							<textarea name="remark" class="form-control" th:text="${advmode.remark}"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">发布时间：</label>
						<div class="col-sm-9">
							<input name="createTime" class="form-control" th:value="${advmode.createTime}"
								readonly />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">修改时间：</label>
						<div class="col-sm-9">
							<input class="form-control" th:value="${advmode.updateTime}" readonly />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">状态：</label>
						<div class="col-sm-9">
							<input name="status" class="form-control" th:value="${advmode.status}" readonly />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8">
							<center>
								<button id="sure" class="btn btn-primary">确认修改</button>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--  -->
		<!-- <table>
				<tbody><tr><caption>广告发布</caption></tr>
				<tr><th>发布类型：</th><td>
					<select id="advertise">              
						<option th:each="type,userStat:${session.typelist}"  th:value="${type.controllerPath}+'/modify?type='+${type.id}"
							th:text="${type.typeName}">
						</option>
					</select>
				</td></tr>
				<tr><td ><input type="hidden" class="typename" th:value="${name}"></td></tr>
				<tr><th></th><td><input type="hidden" name="id" th:value="${advmode.id}"></td></tr>
				<tr><th>链接：</th><td class="text1"><input type="text" name="url" th:value="${advmode.url}"></td></tr>
				<tr><th>图片地址：</th><td class="text2"><input type="text" name="imgSrc" th:value="${advmode.imgSrc}" readonly/></td></tr>
				<tr><th>广告图片：</th><td ><img th:src="@{${advmode.imgSrc}}" style="width:200px;height:200px;"></td></tr>
				<tr><th>广告图片更新：</th><td class="text3"><input type="file" name="picsfile" ></td></tr>
				<tr><th>图片描述：</th><td class="text4"><input type="text" name="alt" th:value="${advmode.alt}"></td></tr>
				<tr><th>图片备注信息：</th><td><textarea rows="6" cols="20" name="remark" th:text="${advmode.remark}"></textarea></td></tr>
				<tr><th>发布时间：</th><td><input name="createTime" th:value="${advmode.createTime}" readonly/></td></tr>
				<tr><th>修改时间：</th><td><input th:value="${advmode.updateTime}" readonly/></td></tr>
				<tr><th>状态：</th><td><input name="status" th:value="${advmode.status}" readonly/></td></tr>
				<tr><td colspan="2"><button id="sure">确认修改</button></td></tr>
				</tbody>
				
			</table> -->
	</form>
</body>
</html>