<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.cilicili.user.mapper.user.UsersMessageMapper">
	
	<insert id="addMessage">
		insert into  tb_u_users_message
		(user_id,user_name) values
		(#{userId},#{userName})
	</insert>
	<select id="findByUserName" resultMap="BaseResultMap">
		select user_id,user_name,sex,phone,qq,home,age from
		tb_u_users_message where user_name = #{userName}
	</select>
	<update id="upUsersMessage"
		parameterType="com.cilicili.domain.user.user.UsersMessage">
		update tb_u_users_message
		<set> 
			<if test="phone != null">
				phone = #{phone},
			</if>
			<if test="imgUrl != null">
				img_url = #{imgUrl},
			</if>
			<if test="sex != null">
				sex = #{sex},
			</if>
			<if test="qq != null">
				qq = #{qq},
			</if>
			<if test="home != null">
				home = #{home},
			</if>
			<if test="age != null">
				age = #{age},
			</if>
		</set>
		where user_name = #{userName}
	</update>

	<resultMap id="BaseResultMap"
		type="com.cilicili.domain.user.user.UsersMessage">
		<id column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="user_name" jdbcType="VARCHAR"
			property="userName" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="sex" jdbcType="INTEGER" property="sex" />
		<result column="home" jdbcType="VARCHAR" property="home" />
		<result column="age" jdbcType="INTEGER" property="age" />
		<result column="id_card" jdbcType="VARCHAR" property="idCard" />
		<result column="qq" jdbcType="INTEGER" property="qq" />
		<result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
	</resultMap>

</mapper>