<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>vip购买</title>
</head>

<body>
	<div align="center"><h2>Vip购买</h2></div>
	<table width="600" border="1" cellspacing="0" cellpadding="0" align="center">
		<tr align="center">
			<td>名称</td>
			<td>描述</td>
			<td>价格</td>
			<td>时间(天)</td>
			<td>操作</td>
		</tr>
		<tr align="center" th:each="vipType:${vipTypeList}">
			<form action="/PaymentBuyVip/Buy.do" method="post">
			<input type="hidden" name="userID" value="1">
			<input type="hidden" name="VipID" th:value="${vipType.VipID}"/>
			<td><span th:text="${vipType.VipName}"></span></td>
			<td><span th:text="${vipType.VipDescribe}"></span></td>
			<td><span th:text="${vipType.VipPrice}"></span></td>
			<td><span th:text="${vipType.VipTime/24/60/60}"></span></td>
			<td><input type="submit" value="购  买"/></td>
			</form>
		</tr>
	</table>
</body>
</html>