<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/stylef.css"/>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css"/>
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/common.css">
	</head>
	
	<body>
		<div class="quanxian" style="width: 1920px;height: 950px;background: url(../img/quanxian-01.jpg);">
			<!-------------------------------------------- 导航栏 ------------------------------------------------->
				<div class="top">
				<div class="nav">
					<div class="logo"><img src="../img/LOGO01.png" ></div>
					<div id="box">
						<input type="text" id="box_sousuo" name="search" placeholder="请输入关键字">
						<div id="search">搜索</div> 
					</div>
					<div class="nav_right">
						<div class="shouye">
							<a href="/to/home"  >
								<div class="tubiao"><img src="../img/zhuye_an.png"></div>
								<div class="nav_text">首页</div>
							</a>
						</div>
						<div class="shcngchuan">
							<a href="/to/up">
								<div class="tubiao"><img src="../img/shangchuan.png" ></div>
								<div class="nav_text">上传</div>
							</a>
						</div>
						<div class="shcngchuan">
							<a href="/Message/reveiceBox">
								<div class="tubiao"><img src="../img/tuiguang.png" ></div>
								<div class="nav_text">消息</div>
							</a>
						</div>
						<div class="shcngchuan">
							<a href="/PaymentBuyVip/Buy" >
								<div class="tubiao"><img src="../img/huiyuan.png"></div>
								<div class="nav_text">会员</div>
							</a>
							
						</div>
						<div class="shcngchuan">
							<a href="/user/toLogin">
								<div class="tubiao"><img src="../img/yonghu.png" ></div>
								<div class="nav_text">登录</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-------------------------------------------- 导航栏 ------------------------------------------------->
		</div>
	</body>
</html>
