<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="robots" content="all">
		<title>  </title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.4.1/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="/css/ycbootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/css/reset2.css"/>
		<link rel="stylesheet" type="text/css" href="/css/stylef.css"/>

		 <!-- 全局js -->
		 <script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/plugins/cover_js/iscroll-zoom.js"></script>
		<script type="text/javascript" src="/js/plugins/cover_js/hammer.js" ></script>
		<script type="text/javascript" src="/js/plugins/cover_js/lrz.all.bundle.js" ></script>
		<script type="text/javascript" src="/js/plugins/cover_js/jquery.photoClip.min.js" ></script>
		<!-- 第三方插件 -->
		<script type="text/javascript" src="/webjars/jquery-form/4.2.2/jquery.form.min.js"></script>
       <!-- layer javascript -->
        <script src="/js/plugins/layer/layer.min.js"></script>
	</head>
	<body>
			<div class="top">
				<div class="nav">
					<div class="logo"><img src="/img/LOGO01.png" ></div>
					<div id="box">
						<input type="text" id="box_sousuo" name="search" placeholder="请输入关键字">
						<div id="search">搜索</div>
					</div>
					<div class="nav_right">
					<div class="shouye">
							<div class="tubiao">
								<img src="../img/shouye.png">
							</div>
							<div class="nav_text">
								<a href="jumpbeforechange('/to/home')" style="color: #00b7ee;">首页</a>
							</div>
						</div>
						<div class="shcngchuan">
							<div class="tubiao">
								<img src="../img/shangchuan.png">
							</div>
							<div class="nav_text">
								<a href="jumpbeforechange('/to/up')">上传</a>
							</div>
						</div>
						<div class="shcngchuan">
							<div class="tubiao">
								<img src="../img/tuiguang.png">
							</div>
							<div class="nav_text">
								<a href="jumpbeforechange('/Message/reveiceBox')">消息</a>
							</div>
						</div>
						<div class="shcngchuan">
							<div class="tubiao">
								<img src="../img/huiyuan.png">
							</div>
							<div class="nav_text">
								<a href="jumpbeforechange('/PaymentBuyVip/Buy')">会员</a>
							</div>
						</div>
						<div class="shcngchuan">
							<div class="tubiao">
								<img src="../img/yonghu.png">
							</div>
							<div class="nav_text">
								<a href="/user/toLogin">登录</a>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="shuoming">
				<div style="height: 40px;"></div>
				<div class="shuoming_title">作品发布</div>
				<div class="shuoming_title2">提示：以下均为必填项，否则无法发布哦</div>
				<div class="shuoming_con1"><i style="width:10px;height:10px;border-radius:50%;background-color:#ff005f;display: block;float: left;margin-top: 7px;"></i><span style="float: left;margin-left: 8px;">作品封面</span></div>
				<!------------------------- 上传封面开始	 ------------------------>
				<div class="ycupload-mainbox">
				        		<div class="ycupload-line"></div>
				        		<div  style="min-height:1px;">
				        			<div class="container">
							        	<div class="row">
							        		<div class="col-md-12 col-sm-12 col-xs-12" style="padding-right:0;padding-left:200px;">
							        			<!--<a href="javascript:void(0);" class="cover-uploadBtn">
							        				<img src="/img/yc_uploadimg_06.png"/>
							        				<div id="clipArea"></div>
							        				<input type="file" id="file">
							        				<button id="clipBtn">截取</button>
							        			</a>
							        			<div id="view"></div>-->
							        			<div style="min-height:1px;line-height:160px;text-align:center;position:relative;" ontouchstart="">
							        				<div class="cover-wrap" style="display:none;position:fixed;left:0;top:0;width:100%;height:100%;background: rgba(0, 0, 0, 0.4);z-index: 10000000;text-align:center;">
							        					<div class="" style="width:900px;height:600px;margin:100px auto;background-color:#FFFFFF;overflow: hidden;border-radius:4px;">
							        						<div id="clipArea" style="margin:10px;height: 520px;"></div>
							        						<div class="" style="height:56px;line-height:36px;text-align: center;padding-top:8px;">
							        							<button id="clipBtn" style="width:120px;height: 36px;border-radius: 4px;background-color:#00a1d6;color: #FFFFFF;font-size: 14px;text-align: center;line-height: 36px;outline: none;">保存封面</button>
							        						</div>
							        					</div>
							        				</div>
							        				<div id="view" style="width:214px;height:160.5px;" title="请上传 428*321 的封面图片"></div>
							        				<div style="height:10px;"></div>
										        	<div class="" style="width:100px;height:32px;border-radius: 4px;background-color:#fff;color: #FFFFFF;font-size: 14px;text-align:center;line-height:32px;outline:none;position:relative;color: #333;border: solid 1px #b8b8b8;">
										        		点击上传
										        		<input  type="file" id="file" style="cursor:pointer;opacity:0;filter:alpha(opacity=0);width:100%;height:100%;position:absolute;top:0;left:0;">
										        	</div>
<!-- 							        				<div class="" style="margin-top: 25px;width:100px;height:32px;border-radius: 4px;background-color:#fff;color: #FFFFFF;font-size: 14px;text-align:center;line-height:32px;outline:none;position:relative;color: #333;border: solid 1px #b8b8b8;">
										        		生成封面
										        		<button  type="button" id="btnGen" style="cursor:pointer;opacity:0;filter:alpha(opacity=0);width:100%;height:100%;position:absolute;top:0;left:0;">
										        	</div> -->
									        	</div>
								        	</div>
							        	</div>
						        	</div>
				        		</div>
				        	</div>
				<!------------------------- 上传封面结束	 ------------------------>

				<form action="/v/upinfo" method="POST" id="formsub" accept-charset="utf-8">
					<div class="shuoming_con1"><i style="width:10px;height:10px;border-radius:50%;background-color:#ff005f;display: block;float: left;margin-top:13px;"></i><span style="float: left;margin-left: 8px;line-height: 34px;">作品标题</span>
							<div><input type="text" class="form-control" name="videoName" style="width: 370px;float: left;margin-left: 36px;"  required="required" placeholder="请输入标题&nbsp;/&nbsp;不超过15字符"></div>
					</div>

					<div class="shuoming_con1"><i style="width:10px;height:10px;border-radius:50%;background-color:#ff005f;display: block;float: left;margin-top:13px;"></i><span style="float: left;margin-left: 8px;line-height: 34px;">视频类型</span>
						<div>
							<select id="ty1" onchange="selectChange(1)" name="t1" class="form-control" style="width:100px;margin-left: 30px;float: left;">
								<option th:each="list : ${typeList}" th:rating="${list.typeRating}" th:value="${list.id}" th:text="${list.type}"></option>
							</select>
							<select id="ty2" onchange="selectChange(2)" name="t2" class="form-control" style="width:100px;float: left;margin-left: 18px;">
							</select>
							<select id="ty3" onchange="selectChange(3)" name="t3" class="form-control" style="width:100px;float: left;margin-left: 18px;">
							</select>
						</div>
					</div>

					<div class="shuoming_con1" style="margin-top: 60px;">
						<i style="width:10px;height:10px;border-radius:50%;background-color:#ff005f;display: block;float: left;margin-top:13px;"></i>
						<span style="float: left;margin-left: 8px;line-height: 34px;">作品简介</span>
						<input type="text"  required="required" name="videoDescribe" class="form-control" style="width: 370px;float: left;margin-left: 36px;height: 90px;" placeholder="请输入作品简介&nbsp;/&nbsp;不超过30字符">
					</div>


					<div class="shuoming_con1" style="margin-top: 90px;">
						<button type="submit" class="btn btn-primary" style="height: 40px;width: 120px;background: #00a1d6;font-size: 16px;border: none;float: left;">提交</button>
						<button type="reset" class="btn btn-primary" style="height: 40px;width: 120px;background: #00a1d6;font-size: 16px;border: none;margin-left: 50px;float: left;">清空</button>
					</div>
					<input id="base64" name="base64" type="hidden">
				</form>
			</div>

  <script type="text/javascript">
  		window.onbeforeunload = function(){
		    return "您之前的操作尚未保存，是否保存？";
		}
	  	function jumpbeforechange(url){
                        layer.confirm('操作尚未完成，确定离开吗?', {
                                btn: ['确定','再想想'], //按钮
                                shade: true //不显示遮罩
                            }, function(index){
                            	window.location.href=url;
                               layer.close(index);
                            }, function(){
                            });
	  	}
  		var img1 = $("#img").val();
		var img3 = "url(" + img1 + ")";
		$('#view').css('background-image', img3);
		var url = window.location.href.split("/")
		var vid = url[url.length-1]
		console.log(vid);
	    //上传封面
	    //document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
		var clipArea = new bjj.PhotoClip("#clipArea", {
			size: [428, 321],// 截取框的宽和高组成的数组。默认值为[260,260]
			outputSize: [428, 321], // 输出图像的宽和高组成的数组。默认值为[0,0]，表示输出图像原始大小
			//outputType: "jpg", // 指定输出图片的类型，可选 "jpg" 和 "png" 两种种类型，默认为 "jpg"
			file: "#file", // 上传图片的<input type="file">控件的选择器或者DOM对象
			view: "#view", // 显示截取后图像的容器的选择器或者DOM对象
			ok: "#clipBtn", // 确认截图按钮的选择器或者DOM对象
			loadStart: function() {
				// 开始加载的回调函数。this指向 fileReader 对象，并将正在加载的 file 对象作为参数传入
				$('.cover-wrap').fadeIn();
				console.log("照片读取中");
			},
			loadComplete: function() {
				 // 加载完成的回调函数。this指向图片对象，并将图片地址作为参数传入
				console.log("照片读取完成");
			},
			//loadError: function(event) {}, // 加载失败的回调函数。this指向 fileReader 对象，并将错误事件的 event 对象作为参数传入
			clipFinish: function(dataURL) {
				// 裁剪完成的回调函数。this指向图片对象，会将裁剪出的图像数据DataURL作为参数传入
				$('.cover-wrap').fadeOut();
				$('#view').css('background-size', '100% 100%');
				console.log(dataURL);
				document.getElementById('base64').value = dataURL;
				var img = "url(" + dataURL + ")";
				//$('#view').css('background-image',img);
			}

		});
		$("#btnGen").click(function(){
			$.ajax({
				url: '/v/picPreview/'+vid,
				async:false,
				type: 'POST',
				dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
			})
			.done(function(data) {
				console.log("success");
				$('#view').css('background-image', img3);
			})

		})

		//clipArea.destroy();
		//
	function getJsonLength(jsonData){
		var jsonLength = 0;
		for(var item in jsonData){
		jsonLength++;
		}
		return jsonLength;
		}
	 function selectChange(e){
         var objS = document.getElementById("ty"+e);
         var tid = objS.options[objS.selectedIndex].value;

         $.ajax({
         	url: '/t/linkage/'+(e+1)+"/"+tid,
         	type: 'POST',
         	dataType: 'html',
         })
         .done(function(data) {
			var responseJsonData = eval('('+data+')')
         	var l= getJsonLength(responseJsonData)
         	$("#ty"+(e+1)).html("");
         	$.each(responseJsonData, function(index, val) {
         		 $("#ty"+(e+1)).append('<option value="'+val.id+'">'+val.type+'</option>');
         	});
         })
       }
		$("#formsub").on("submit", function() {
			$(this).ajaxSubmit({
				url : "/v/upinfo/" + vid,
				async: false,
				success : function(data) {
					console.log(data);
					if (data == "1") {
						parent.layer.msg('添加成功', {icon: 1});
						window.location.href="/to/vi/"+vid;
					} else {
						parent.layer.msg('添加失败', {shift: 6});
					}
				},
			});
			return false;
		})
	    </script>
	</body>
</html>
